.root {
    padding:10px;
    margin-bottom: 50px;
}
@keyframes rotate {
    from {
        transform: rotateZ(1deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
.logo__positioner {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    animation: rotate 20000ms linear infinite;
}
.logo__positioner svg {
    width: 100%;
    height: 100%;
}
.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: sans-serif;
    color:burlywood;
    margin-top: 10px;
    margin-bottom: 0;
}